@font-face {
    font-family: Geomatrix;
    src: url(src/font/Geomatrix\ Bold.otf);
}
@font-face {
    font-family: Oswald;
    src: url(src/font/Oswald-Light.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
}
#logo{
    width: 75%;
}
#logoid{
    margin-right: 15rem;
}
#navflex{
    display: flex;
    margin-right: 6rem;
}
ul{
    margin: 0;
    background-color: #07141d;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
li{
    list-style: none;
}
.navbar{
    color: black;
    font-size: xx-large;
    font-family: Geomatrix;
    -webkit-text-stroke: 1px orange;
    font-weight: bolder;
    text-decoration: none;
    margin: 2rem 2rem;
}

.navbar:hover{
    -webkit-text-stroke: 1px rgb(131, 131, 255);
}

.hakkimda{
    margin: 0;
    background-color: black;
    width: 100%;
    height: fit-content;
    text-align: center;
    display: inline-block;

}
#phakkimda{
    background-color: black;
    color: rgb(188, 188, 188);
    float: left;
    margin: 500px 50px 500px 150px;
    text-align: left;
    word-wrap: break-word;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: lighter;
    line-height: 25px;
}
#fotohakkimda{
    float: right;
    width: 30%;
    margin: 500px 150px 500px 50px;
    border-radius: 50%;
}

span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.planlar{
    background-image: url(src/images/bg2.jpg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #ffffff;
    width: 100%;
    height: 2000px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

}

.plancontainer{
    background-image: url(src/images/Screenshot_2.png);
    background-size: contain;
    margin: 50px;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff !important;
}
.plancontainertwo{
    background-image: url(src/images/Screenshot_1.png);
    background-size: contain;
    margin: 50px;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff !important;
}
.plancontainerthree{
    background-image: url(src/images/Screenshot_3.jpeg);
    background-size: contain;
    margin: 50px;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff !important;
}
.plancontainer img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: -1;
}
.centered{
    text-align: center;
    font-family: Oswald;
}

.plan1{
    font-size: xx-large;
    font-family: Oswald;
}
.icerik{
    font-size: large;
    font-family: Oswald;
    line-height: 35px;
}

#iletisim{
    background-color: black;
    width: 100%;
    height: 50rem;
}

#iletisimchild{
    margin-top: 10rem;
    text-align: center;
    font-family: Oswald;
}

.link{
    color: white;
    font-style: normal;
    text-decoration: none;
    font-family: Oswald;
}

section{
    position:relative;
    width:100%;
    height:100vh;
    background: url(src/images/bg1.png);
    background-size:100%;
    margin: 0;
  }
  section:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(src/images/bg1.png);
    background-size:100%;
    opacity:.5;
    mix-blend-mode:hard-light;
  }
  section:hover:before{
    animation:animate .2s linear infinite;
  }
  @keyframes animate{
      0%{
      background-position: 0 0;
      filter:hue-rotate(0deg);
      }
      10%{
      background-position: 5px 0;
      }
      20%{
      background-position: -5px 0;
      }
      30%{
      background-position: 15px 0;
      }
      40%{
      background-position: 5px 0;
      }
      50%{
      background-position: -25px 0;
      }
      60%{
      background-position: -50px 0;
      }
      70%{
      background-position: 0 -20px;
      }
      80%{
      background-position: -60px -20px;
      }
      81%{
      background-position: 0 0;
      }
      100%{
      background-position: 0 0;
      filter:hue-rotate(360deg);
      }
  }
